.clickable{
  cursor: pointer !important;
}

.cursor-default{
  cursor: default;
}

.link{
  color: $dark-blue;
}

.no-outline{
  outline: none;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}