@import "./variables/colors";
@import "./variables/fonts";

// Layout sizes
$header-height: 50px;
$sidebar-width: 120px;
$sidebar-width-md: 90px; // for small and medium screens
$home-inner-page-card-height: 40vh;

// Break points
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1440px;