// Colors
$white: #FFFFFF;
$dirty-white: #ECE9E6;
$platinum: #fdfdfd;
$light-grey: #BDBDBD;
$dark-grey: #313638;
$dark-blue-grey: #2c3e50;
$beige: #E0DFD5;
$yellow: #E4B363;
$green: #07C39B;
$red: #EF6461;
$dark-blue: #0d47a1;

// Layout sizes
$header-height: 50px;
$sidebar-width: 150px;
$home-inner-page-card-height: 35vh;

// Break points
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Images
// $about-me: url(../../assets/img/pages/about-me.svg);
// $work-experience: url(../../assets/img/pages/work-experience.svg);
// $skills-set: url(../../assets/img/pages/skills-set.svg);
// $cv: url(../../assets/img/pages/cv.svg);

// Fonts
$font-title: 'Audiowide', cursive;
