.header{
  background-color: $platinum;
  height: $header-height;;
}

.home{

}


.container {
  display: grid;
  height: calc(100vh - #{$header-height});
  padding: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;


  // 992px window width and more
  @include md {
    padding: 10px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .item{
    background-color: $beige;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    

    &:hover{
      background-image: none;
      transition: all .3s;
      
      .title{
        transition: all .3s;
        background-color: $green;
        color: $white;
      }
    }

    // &:hover{
      // transition: all .3s;
      // transform: scale(1.2);
      // filter: blur(8px);
    // }
  }


  .about-me {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url("../assets/img/home/about-me.png");
  
    @include md {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 8;
    }
  }
  
  .experience-one {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url("../assets/img/home/work-experience-1.png");
  
    @include md {
      grid-column-start: 5;
      grid-column-end: 10;
      grid-row-start: 1;
      grid-row-end: 5;
    }
  }
  
  .experience-two {
    grid-column-start: 10;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 5;
    display: none;
    background-image: url("../assets/img/home/work-experience-2.png");
  
    @include md {
      display: block;
    }
  }
  
  .experience-three {
    grid-column-start: 15;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: $dark-grey;
    display: none;
  
    @include md {
      display: block;
    }
  }
  
  .looking{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 11;
    background-image: url("../assets/img/home/looking-for.png");
    display: none;
    
    @include md {
      display: block;
    }
  }
  
  .my-skills{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url("../assets/img/home/skills.png");
  
    @include md {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 5;
      grid-row-end: 8;
    }
  }
  
  .cv{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background-image: url("../assets/img/home/cv.png");
  
    @include md {
      grid-column-start: 9;
      grid-column-end: 13;
      grid-row-start: 5;
      grid-row-end: 8;
    }
  }
  
  .lets-play{
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 11;
    background-image: url("../assets/img/home/lets-play.png");
    display: none;
    
    @include md {
      display: block;
    }
  }
  
  .email{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    background-image: url("../assets/img/home/email.png");
  
    @include md {
      grid-column-start: 9;
      grid-column-end: 13;
      grid-row-start: 8;
      grid-row-end: 11;
    }
  }
  
  .contact{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    background-image: url("../assets/img/home/contact-me.png");
  
    @include md {
      grid-column-start: 13;
      grid-column-end: 17;
      grid-row-start: 8;
      grid-row-end: 11;
    }
  }
  
  .linkedin{
    grid-column-start: 13;
    grid-column-end: 15;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: $beige;
    display: none;
    
    @include md {
      display: block;
    }
  }
  
  .experience-three-img{
    grid-column-start: 15;
    grid-column-end: 17;
    grid-row-start: 4;
    grid-row-end: 8;
    background-image: url("../assets/img/home/experience-man.png");
    display: none;
    
    @include md {
      display: block;
    }
  }
  
  .github{
    grid-column-start: 13;
    grid-column-end: 14;
    grid-row-start: 6;
    grid-row-end: 8;
    background-color: $beige;
    display: none;
    
    @include md {
      display: block;
    }
  }
  
  .instagram{
    grid-column-start: 14;
    grid-column-end: 15;
    grid-row-start: 6;
    grid-row-end: 7;
    background-color: $beige;
    display: none;
    
    @include md {
      display: block;
    }
  }
  
  .facebook{
    grid-column-start: 14;
    grid-column-end: 15;
    grid-row-start: 7;
    grid-row-end: 8;
    background-color: $beige;
    display: none;
    
    @include md {
      display: block;
    }
  }
}

