// Pages images
.about-me{background-image: url(../assets/img/pages/about-me.png);}
.work-experience{background-image: url(../assets/img/pages/work-experience.png);}
.skills-set{background-image: url(../assets/img/pages/skills-set.png);}
.cv{background-image: url(../assets/img/pages/cv.png);}


// Page style
.page{
  .page-title{
    font-size: calc(1.2rem + 0.2vw);
    font-weight: 500;
    font-family: $font-title;
    width: 100%;
    padding: 10px 0;
    position: relative;
    text-align: center;
    color: $dark-grey-d;
    
    &::after{
      content: "";
      position: absolute;
      bottom: 5px;
      left: 50%;
      width: 40px;
      margin-left: -20px;
      border-bottom: $dark-grey-d solid 2px;
    }
    
  }
}

// Button
.btn {
  display: inline-block;
  max-width: 250px;
  padding: 5px 40px;
  border: none;
  border-radius: 20px;
  border: 1px solid $dark-grey;
  background: $white;
  color: $dark-grey;
  text-align: center;
  outline: none;
  font-size: 16px;
  cursor: pointer;

  &:hover{
    background: $gold;
    transition: all 0.08s ease;
  }

  &:active{
    box-shadow: 2px 2px 5px 0px rgba($gold, 0.1);
    background: $gold;
  }

  &:disabled{
    cursor: default;
  }

  &.gold{
    background-color: $gold;
  }

  &.green{
    background-color: $green-l;
    color: $white;

    &:hover{
      background: $green;
      transition: all 0.1s ease;
    }

    &:active{
      box-shadow: 2px 2px 5px 0px rgba($gold, 0.1);
      background: $gold-d;
    }
  }

  &.blue{
    background-color: $blue;
    color: $white;
  }
}
