// Pages images
.about-me{background-image: url(../assets/img/pages/about-me.png);}
.work-experience{background-image: url(../assets/img/pages/work-experience.png);}
.skills-set{background-image: url(../assets/img/pages/skills-set.png);}
.cv{background-image: url(../assets/img/pages/cv.png);}


// Page style
.page{
  .page-title{
    font-size: calc(1.2rem + 0.2vw);
    font-weight: 500;
    font-family: $font-title;
    width: 100%;
    padding: 10px 0;
    position: relative;
    text-align: center;
    color: $dark-grey-d;
    
    &::after{
      content: "";
      position: absolute;
      bottom: 5px;
      left: 50%;
      width: 40px;
      margin-left: -20px;
      border-bottom: $dark-grey-d solid 2px;
    }
    
  }
}