// Pages images
.about-me{background-image: url(../assets/img/pages/about-me.svg);}
.work-experience{background-image: url(../assets/img/pages/work-experience.svg);}
.skills-set{background-image: url(../assets/img/pages/skills-set.svg);}
.cv{background-image: url(../assets/img/pages/cv.svg);}

// Page style
.page{
  .page-title{
    font-size: calc(0.75rem + 0.7vw);
    font-weight: 500;
    font-family: $font-title;
    width: 100%;
    padding: 10px 0;
    position: relative;
    text-align: center;
    
    &::after{
      content: "";
      position: absolute;
      bottom: 5px;
      left: 50%;
      width: 40px;
      margin-left: -20px;
      border-bottom: $dark-grey solid 2px;
    }
    
  }
}

// Button
.btn {
  display: inline-block;
  max-width: 250px;
  padding: 6px 40px;
  border: 1px solid $dark-grey;
  border-radius: 20px;
  background-color: $white;
  text-align: center;
  outline: none;
  font-size: 16px;
  cursor: pointer;

  &:hover{
    background-color: $green;
    color: $white;
    transition: all 0.1s;
  }

  &:active{
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
  }

  &:disabled{
    cursor: default;
  }
}
