/* Colors */
// Main
$dirty-white: #E8E9EB;
$light-grey: #e8e9eb;
$beige: #e0dfd5;
$gold: #ffd740;
$pink: #be6b83;
$green: #177764;
$blue: #024988;
$dark-grey: #455A64;

//Light
$light-grey-l: #f7f7f7;
$beige-l: #F7F4E8;
$gold-l: #f4c684;
$pink-l: #ea73a1;
$green-l: #17c9a7;
$blue-l: #078aed;
$dark-grey-l: #586063;

//Dark
$light-grey-d: #b0bec5;
$beige-d: #afaa94;
$gold-d: #e4b363;
$pink-d: #932a52;
$green-d: #0e4740;
$blue-d: #102d42;
$dark-grey-d: #39393a;

// General
$white: #ffffff;
$black: #000000;
$note-book-sketch: #f5f0d2;
$jsfiddle: #1f2227;

// $white: #FFFFFF;
// $light-grey: #BDBDBD;
// $dark-grey: #2c3e50;
// $beige: #E0DFD5;
// $gold: #E4B363;
// $green: #07C39B;
// $red: #EF6461;
// $blue-d: #0d47a1;
// $black: #000000;

// Colors for svg images (base color is black)
$filter-white: invert(100%) sepia(0%) saturate(7500%) hue-rotate(114deg) brightness(124%) contrast(101%);
$filter-light-grey: invert(86%) sepia(8%) saturate(0%) hue-rotate(222deg) brightness(83%) contrast(107%);
$filter-dark-grey: invert(17%) sepia(22%) saturate(190%) hue-rotate(152deg) brightness(97%) contrast(90%);
$filter-dark-blue-grey: invert(20%) sepia(13%) saturate(1362%) hue-rotate(169deg) brightness(98%) contrast(90%);
$filter-light-green: invert(73%) sepia(41%) saturate(5601%) hue-rotate(124deg) brightness(101%) contrast(82%);