// Colors
$white: #FFFFFF;
$dirty-white: #ECE9E6;
$platinum: #fdfdfd;
$light-grey: #BDBDBD;
$dark-grey: #313638;
$dark-blue-grey: #2c3e50;
$beige: #E0DFD5;
$yellow: #E4B363;
$green: #07C39B;
$red: #EF6461;
$dark-blue: #0d47a1;

// Colors for svg images
$filter-white: invert(100%) sepia(0%) saturate(7500%) hue-rotate(114deg) brightness(124%) contrast(101%);
$filter-light-grey: invert(86%) sepia(8%) saturate(0%) hue-rotate(222deg) brightness(83%) contrast(107%);
$filter-dark-grey: invert(17%) sepia(22%) saturate(190%) hue-rotate(152deg) brightness(97%) contrast(90%);
$filter-dark-blue-grey: invert(20%) sepia(13%) saturate(1362%) hue-rotate(169deg) brightness(98%) contrast(90%);